input {
    width: 380PX;
    height: 50px;
    border-radius: 0px;
    border: 4px solid var(--color-black-first);
    box-shadow: 4px 4px 0px var(--color-black-first);
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
    box-sizing: border-box;
}