.main-button {
    width: 380px;
    height: 45px;
    background-color: var(--color-second);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 0px;
    border: none;
    font-family: inherit;
    color: var(--color-third);
    font-size: 20px;
    cursor: pointer;
    box-shadow: 4px 4px 0px var(--color-black-first);
    transition: transform 200ms ease-in-out;
}

.main-button:hover{
    transform: scale(1.05);
}